$bg-color: #f5f5f5;
$bg-color-light: #fff;
$text-color: #333;
$active-color: #169c4e;
$not-active-color: #e7ece4;

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    background: $bg-color;
    font-family: Verdana, sans-serif;
    font-size: 10px;
    color: $text-color;
}

.form {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-radius: 0.5rem;
    background-color: $bg-color-light;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel {
    overflow: hidden;
    flex-grow: 1;

    &__content {
        display: flex;
        padding-top: 2rem;
        padding-bottom: 2rem;
        transition: transform ease-out 0.5s;
    }

    &__step {
        min-width: 100%;
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

.input {

    &__label {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
        font-weight: 600;
    }

    &__field {
        width: 100%;
        padding: 1rem;
        font-size: 1.5rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        outline: none;

        &:focus {
            border-color: $active-color;
        }
    }
}

.stepper {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 2rem auto 1rem auto;

    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        display: block;
        width: 90%;
        height: 0.2rem;
        background-color: $not-active-color;
    }

    .step {
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4.2rem;
        height: 4.2rem;
        border-radius: 50%;
        background-color: $not-active-color;
        transition:
            background-color 0.3s, color 0.3s;
        ;

        &--active {
            color: $bg-color-light;
            background-color: $active-color;
        }

        &__number {
            font-size: 1.5rem;
            font-weight: 600;
        }

    }
}